<!DOCTYPE html>
<body style="background-color:#c70000a9;">
     <title>Rock Paper Scissors</title>
    <meta http-equiv = "refresh" content = "5; url = /" />
    <div style="text-align:center">
    <font face = "Verdana" size = "50" color = "white">YOU LOST</font>
    <br>
    <br>
    <br>
    <font face = "Verdana" size = "5" color = "black">The opponent chose: {{choice2}}</font>
      <br>
      <IMG src="https://i.makeagif.com/media/2-20-2020/jGtwWd.gif"
           width = "500">
      <IMG src="https://media3.giphy.com/media/OPU6wzx8JrHna/200w.gif?cid=790b76115kb0t0d48zb7yoj3iimmxd2xuft1dfx9tut9vzrt&ep=v1_gifs_search&rid=200w.gif&ct=g"
           width = "200"
           height="300">
      <IMG src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHk5MGVmN3Vza2RoY3N3bHlhNjV0Ymt1dGtuMmt4d2c2bTNpZHloZyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/BEob5qwFkSJ7G/giphy.gif"
           width="200"
           height="300">
    </div>
</body>