<!DOCTYPE html>
<body style="background-color:#00ff62a9;">
  <title>Rock Paper Scissors</title>
    <meta http-equiv = "refresh" content = "5; url = /" />
    <div style="text-align:center">
    <font face = "Verdana" size = "20" color = "black">YOU WON :D</font>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <font face = "Verdana" size = "5" color = "black">The opponent chose: {{choice2}}</font>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    <IMG SRC="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbW9qbjB5bzVqOTN4bGFlcXNjcm1mOXowbHJzYmcwODk3MTVxYXJyZiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/A4R8sdUG7G9TG/giphy.gif"
         width = "300"
         height = "200"/>
    </div>
  <IMG SRC="https://media.tenor.com/P-bmt667a_oAAAAM/stick-bug-stick-bugged.gif"
       width = "500"
       height = "400"
       align = "right" >
   <IMG SRC="https://media.tenor.com/P-bmt667a_oAAAAM/stick-bug-stick-bugged.gif"
       width = "500"
       height = "400">
</body>