<!DOCTYPE html> 
<body style="background-color:rgb(0, 83, 145);">
  <title>Rock Paper Scissors</title>
    <div style="text-align:center">
    <font face = "Verdana" size = "20" color = #FFE3B5>Rock Paper Scissors</font><br />

    <br>
    <br>
    <br>

    <button onclick="window.location.href='/ingame/1/{{findinggamecode}}/playing/rock';">
        <h1>  Rock  </h1>
      </button>
      <button onclick="window.location.href='/ingame/1/{{findinggamecode}}/playing/paper';">
        <h1>  Paper  </h1> 
      </button>
      <button onclick="window.location.href='/ingame/1/{{findinggamecode}}/playing/scissors';">
        <h1> Scissors </h1>
      </button>
    </div>
</body>