
<!DOCTYPE html>

<body style="background-color:rgb(0, 83, 145);">
    <title>Rock Paper Scissors</title>
    <meta http-equiv = "refresh" content = "1; url = '/ingame/2/{{findinggamecode}}/playing/{{choice2}}'" />
    <div style="text-align:center">
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <font face = "Verdana" size = "20" color = #FFE3B5>Rock Paper Scissors</font><br />
    <font face = "Verdana" size = "5" color = #FFE3B5>Waiting for the other player to chose...</font><br />
    <br>
    <br>
    <br>
    <br>
    </div>
</body>